<!-- NON STICKY NAV BAR -->
<div class="non-sticky non-sticky-color">
  <div
    class="row d-inline-flex non-sticky non-sticky-color justify-content-center align-items-center"
  >
    <!-- LINKS -->
    <div class="col-3 d-flex">
      <a href="" class="d-flex link-align" class="justify-content-center"
        >Newsletter</a
      >
    </div>

    <div class="col-3 d-flex">
      <a href="" class="d-flex link-align">Necrologie</a>
    </div>

    <div class="col-3 d-flex">
      <a href="" class="d-flex link-align">Accedi</a>
    </div>

    <div class="col-3 d-flex">
      <button class="subscribe d-flex link-align">Abbonati</button>
    </div>
  </div>
</div>

<!-- STICKY NAV BAR -->
<div class="sticky sticky-color">
  <div class="row sticky sticky-color">
    <div class="col-2 d-flex justify-content-center align-items-center">
      <!-- HEADER ELEMENTS -->
      <button class="no-border icon-button">
        <i class="fa-solid fa-bars fa-2x"></i>
      </button>
    </div>

    <div class="col-8 d-flex justify-content-center align-items-center">
      <button class="navbar-color no-border">
        <img
          src="https://placehold.co/200x50/1a3b70/white/?text=Giornale+Italia&font=lora"
          class="logo-button"
        />
      </button>
    </div>

    <div class="col-2 d-flex justify-content-center align-items-center">
      <button class="icon-button round">
        <i class="fa-solid fa-user"></i>
      </button>
    </div>
  </div>
</div>
