<div class="non-sticky non-sticky-color">
  <div class="row d-inline-flex expand non-sticky non-sticky-color">
    <div class="col-3 d-flex justify-content-center align-items-center">
      <a href="">Newsletter</a>
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center">
      <a href="">Necrologie</a>
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center">
      <a href="">Accedi</a>
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center">
      <button class="subscribe">Abbonati</button>
    </div>
  </div>
</div>

<div class="sticky sticky-color">
  <div class="row d-inline-flex expand sticky sticky-color">
    <div class="col-2 d-flex justify-content-center align-items-center">
      <button class="no-border icon-button">
        <i class="fa-solid fa-bars fa-2x"></i>
      </button>
    </div>

    <div class="col-8 d-flex justify-content-center align-items-center">
      <button class="navbar-color no-border">
        <img
          src="https://placehold.co/200x50/1a3b70/white/?text=Giornale+Italia&font=lora"
          class="logo-button"
        />
      </button>
    </div>

    <div
      class="col-2 d-flex justify-content-center align-items-center"
      style="object-fit: contain"
    >
      <button class="icon-button round">
        <i class="fa-solid fa-user"></i>
      </button>
    </div>
  </div>
</div>

<!--




  <a href="">Edizione Digitale</a>

  <button class="navbar-color no-border">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </button>

-->
