<!-- NAV BAR MENU -->
<sticky-bar></sticky-bar>

<!-- WRAPPER -->
<div
  class="container-fluid"
  style="padding-top: 48px; background-color: var(--white-color)"
>
  <div class="row">
    <!-- Colonne vuote su diversi breakpoint -->
    <div
      class="col-sm-0 col-md-0 col-lg-2 d-none d-sm-block"
      style="background-color: var(--white-color)"
    ></div>

    <!-- Main content area -->
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-8"
      style="background-color: var(--light-gray-color)"
    >
      <!-- HEADER GIORNALE -->
      <header-giornale></header-giornale>
      <categoria-bar></categoria-bar>

      <div class="row mt-4">
        <!-- Sezione principale -->
        <div class="col-12 col-sm-8 col-md-8 col-lg-8">
          <card-articolo-categoria
            [articolo]="{
              immagine:
                'https://live.staticflickr.com/4206/34920873983_09fba3d66c_b.jpg',
              titolo: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
              autore: '',
              categoria: 'Categoria'
            }"
            [large]="true"
          ></card-articolo-categoria>

          <div *ngFor="let item of listaArticoli">
            <div class="mt-3">
              <card-articolo [articolo]="item"></card-articolo>
            </div>
          </div>
        </div>

        <!-- Sezione laterale -->
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <card-widget
            [widgetName]="'Prima Pagina'"
            [imagePath]="
              'https://media.istockphoto.com/id/1321913987/it/foto/sfondo-carta-usato-vecchia-pagina-di-giornale-pubblicit%C3%A0-vintage.jpg?s=612x612&w=0&k=20&c=NfgzuX0VGeSEgaonZDfwdVEUIvsd9hBgUPQEy5PZYxw='
            "
            [title]="'La Prima Pagina di oggi'"
            [category]="'Sport'"
            [author]="'autore'"
          ></card-widget>

          <card-letti></card-letti>

          <card-widget
            [imagePath]="
              'https://media.istockphoto.com/id/655667160/photo/creative-layout-made-of-flowers-and-leaves-with-paper-card-note-flat-lay-nature-concept.jpg?s=612x612&w=0&k=20&c=ewvAItDgzMBgftif-NJUbTSnOMPtBdi-o6y1JNSaRzM='
            "
            [author]="'autore'"
          ></card-widget>
        </div>
      </div>

      <!-- SEZIONE CATEGORIA -->
      <div
        class="row containerCategoria"
        style="background-color: var(--blue-color); margin-top: 50px"
      >
        <div
          class="col-12 col-sm-12 col-md-6 col-lg-3"
          *ngFor="let item of listaCategorie"
        >
          <div style="padding: 20px">
            <card-articolo-categoria
              [articolo]="item"
            ></card-articolo-categoria>
          </div>
        </div>
      </div>

      <!-- Seconda sezione di categorie -->
      <div
        class="row containerCategoria"
        style="background-color: var(--blue-color); margin-bottom: 50px"
      >
        <div
          class="col-12 col-sm-12 col-md-6 col-lg-3"
          *ngFor="let item of listaCategorie"
        >
          <div style="padding: 20px">
            <card-articolo-categoria
              [articolo]="item"
            ></card-articolo-categoria>
          </div>
        </div>
      </div>

      <!-- Altra sezione -->
      <div class="row">
        <div class="col-12 col-sm-8 col-md-8 col-lg-8">
          <div *ngFor="let item of listaArticoli">
            <div class="mt-3">
              <card-articolo [articolo]="item"></card-articolo>
            </div>
          </div>
        </div>

        <!-- Sezione laterale -->
        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
          <list-necrologio></list-necrologio>

          <card-widget
            [imagePath]="
              'https://media.istockphoto.com/id/655667160/photo/creative-layout-made-of-flowers-and-leaves-with-paper-card-note-flat-lay-nature-concept.jpg?s=612x612&w=0&k=20&c=ewvAItDgzMBgftif-NJUbTSnOMPtBdi-o6y1JNSaRzM='
            "
            [author]="'autore'"
          ></card-widget>

          <card-widget
            [widgetName]="''"
            [imagePath]="
              'https://previews.123rf.com/images/jetzt/jetzt1406/jetzt140600010/29307382-nature-background-with-red-daisies-over-blue-sky-square-compisition.jpg'
            "
            [title]="'Festa di Primavera'"
            [category]="''"
            [author]="''"
          ></card-widget>
        </div>
      </div>
    </div>

    <!-- Colonne vuote per diversi breakpoint -->
    <div
      class="col-sm-0 col-md-0 col-lg-2 d-none d-sm-block"
      style="background-color: var(--white-color)"
    ></div>
  </div>
</div>
