<!-- NAV BAR MENU -->
<sticky-bar *ngIf="!(isHandset$ | async)"></sticky-bar>
<!-- MOBILE BAR -->
<mobile-nav-bar *ngIf="isHandset$ | async"></mobile-nav-bar>

<!-- WRAPPER -->
<div class="container-fluid">
  <div class="row">
    <!-- LEFT SPACE -->
    <div
      class="col-sm-0 col-md-0 col-lg-2 d-none d-sm-block"
      style="background-color: var(--white-color)"
    ></div>

    <!-- WRAPPER PRIMA PAGINA GIORNALE -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 wrap-page">
      <!-- HEADER GIORNALE -->
      <header-giornale *ngIf="!(isHandset$ | async)"></header-giornale>
      <categoria-bar></categoria-bar>

      <div class="row fit">
        <div class="col-12 fit frame">
          <img
            src="https://placehold.co/800x300/81d8d0/f7f7f7/?text=Banner Pubblicità&font=lora"
            class="sponsor-image"
          />
        </div>
        <!-- CONTENUTO PRINCIPALE -->
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 fit">
          <div class="fit frame">
            <card-articolo-categoria
              [articolo]="{
                immagine:
                  'https://placehold.co/220x125/0c1a32/f7f7f7/?text=Articolo+Principale&font=lora',
                titolo:
                  'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
                autore: '',
                categoria: 'Categoria'
              }"
              [large]="true"
            ></card-articolo-categoria>
          </div>
          <div class="fit" *ngFor="let item of listaArticoli">
            <div class="fit frame">
              <card-articolo [articolo]="item"></card-articolo>
            </div>
          </div>
        </div>

        <!-- SEZIONE LATERALE -->
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 fit">
          <div class="fit frame">
            <card-widget
              [widgetName]="'Prima Pagina'"
              [imagePath]="
                'https://placehold.co/250x355/ade8f4/f7f7f7/?text=Prima+Pagina&font=lora'
              "
              [title]="'La Prima Pagina di oggi'"
              [category]="''"
              [author]="''"
            ></card-widget>
          </div>

          <div class="fit frame">
            <img
              src="https://placehold.co/200/81d8d0/f7f7f7/?text=Banner+Pubblicità&font=lora"
              class="sponsor-image"
            />
          </div>

          <div class="fit frame">
            <card-letti></card-letti>
          </div>

          <div class="fit frame">
            <card-widget
              [imagePath]="
                'https://placehold.co/300/023e8a/f7f7f7/?text=Widget+Articolo&font=lora'
              "
              [author]="'autore'"
            ></card-widget>
          </div>
        </div>
      </div>

      <!-- SEZIONE CATEGORIA -->
      <div
        class="row containerCategoria"
        style="background-color: var(--blue-color); margin-top: 50px"
      >
        <div class="fit">
          <span><i class="fa-solid fa-diamond icon-category"></i></span>
          <span class="title-category">Categoria 1</span>
        </div>

        <div
          class="col-12 col-sm-12 col-md-6 col-lg-3 fit"
          *ngFor="let item of listaCategorie"
        >
          <div class="fit frame">
            <card-articolo-categoria
              [articolo]="item"
            ></card-articolo-categoria>
          </div>
        </div>
      </div>

      <!-- SEZIONE CATEGORIA -->
      <div
        class="row containerCategoria"
        style="background-color: var(--blue-color); margin-bottom: 50px"
      >
        <div class="fit">
          <span><i class="fa-solid fa-diamond icon-category"></i></span>
          <span class="title-category">Categoria 2</span>
        </div>

        <div
          class="col-12 col-sm-12 col-md-6 col-lg-3 fit"
          *ngFor="let item of listaCategorie"
        >
          <div class="fit frame">
            <card-articolo-categoria
              [articolo]="item"
            ></card-articolo-categoria>
          </div>
        </div>
      </div>

      <!-- WRAPPER SECONDA PAGINA GIORNALE -->
      <div class="row fit">
        <!-- CONTENUTO PRINCIPALE -->
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 fit">
          <div class="fit frame">
            <card-articolo-categoria
              [articolo]="{
                immagine:
                  'https://placehold.co/220x125/0c1a32/f7f7f7/?text=Articolo+Principale&font=lora',
                titolo:
                  'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
                autore: '',
                categoria: 'Categoria'
              }"
              [large]="true"
            ></card-articolo-categoria>
          </div>
          <div class="fit" *ngFor="let item of listaArticoli">
            <div class="fit frame">
              <card-articolo [articolo]="item"></card-articolo>
            </div>
          </div>
        </div>

        <!-- SEZIONE LATERALE -->
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 fit">
          <div class="fit frame">
            <card-widget
              [widgetName]="''"
              [imagePath]="
                'https://placehold.co/300/023e8a/f7f7f7/?text=Locandina+Film&font=lora'
              "
              [title]="'Nuovo Film'"
              [category]="'Cinema'"
              [author]="'autore'"
            ></card-widget>
          </div>

          <div class="fit frame">
            <img
              src="https://placehold.co/200/81d8d0/f7f7f7/?text=Banner+Pubblicità&font=lora"
              class="sponsor-image"
            />
          </div>

          <div class="fit frame">
            <list-necrologio></list-necrologio>
          </div>

          <div class="fit frame">
            <img
              src="https://placehold.co/200x150/81d8d0/f7f7f7/?text=Banner+Pubblicità&font=lora"
              class="sponsor-image"
            />
          </div>
        </div>
      </div>

      <!-- SEZIONE CATEGORIA -->
      <div
        class="row containerCategoria"
        style="background-color: var(--blue-color); margin-top: 50px"
      >
        <div class="fit">
          <span><i class="fa-solid fa-diamond icon-category"></i></span>
          <span class="title-category">Categoria 3</span>
        </div>

        <div
          class="col-12 col-sm-12 col-md-6 col-lg-3 fit"
          *ngFor="let item of listaCategorie"
        >
          <div class="fit frame">
            <card-articolo-categoria
              [articolo]="item"
            ></card-articolo-categoria>
          </div>
        </div>
      </div>

      <!-- Seconda sezione di categorie -->
      <div
        class="row containerCategoria"
        style="background-color: var(--blue-color); margin-bottom: 50px"
      >
        <div
          class="col-12 col-sm-12 col-md-6 col-lg-3 fit"
          *ngFor="let item of listaCategorie"
        >
          <div class="fit frame">
            <card-articolo-categoria
              [articolo]="item"
            ></card-articolo-categoria>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <footer-giornale></footer-giornale>
      <div class="padding"></div>
      <!-- RIGHT SPACE -->
      <div
        class="col-sm-0 col-md-0 col-lg-2 d-none d-sm-block"
        style="background-color: var(--white-color)"
      ></div>
    </div>
  </div>
</div>
