/* WRAPPER GENERALE */

.container-fluid {
  padding: 48px 0 0 0;
  background-color: var(--white-color);
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .container-fluid {
    overflow-y: hidden;
    padding-top: 0 !important;
  }
}

/* WRAPPER PAGINA GIORNALE */

.wrap-page {
  background-color: var(--light-gray-color);
  margin: 0;
  padding: 0 4% 0 4%;
}

/* WRAPPER RIGA */
.fit {
  padding: 0;
  margin: 0;
}

/* WRAPPER MAIN CONTENT */
.frame {
  padding: 10px 20px 10px 20px !important;
  background-color: transparent;
}

.fit-content {
  padding: 0;
  margin: 0;
}

/* WRAPPER CATEGORIA */
.containerCategoria {
  background-color: var(--dark-blue-color);
  padding: 10px 20px 10px 20px;
}

.title-category {
  font: 24px var(--font-serif);
  color: var(--white-color);
  font-weight: 700;
}

.icon-category {
  margin: 20px;
  color: var(--white-color);
}

/* SPONSORIZZATI */
.sponsor-image {
  width: 100%;
  height: auto;
}

/* FOOTER */
.padding {
  background-color: transparent;
  height: 100px;
}
