/* CAROSELLO */
.custom-carousel {
  position: relative;

  .owl-stage {
    border-bottom: 2px solid black;
    overflow: visible;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
  }

  .owl-prev {
    left: -20px;
  }

  .owl-next {
    right: -20px;
  }

  .owl-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0;
  }
}

/* CATEGORIA */
.categoria {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
  line-height: 1.5;
  text-decoration: none;
}

.glyph {
  padding-left: 1.4em;
  text-indent: -1.4em;
}

.glyph::before {
  content: "///";
  font-family: "DM Sans", sans-serif;
  display: inline;
  padding: 0 0.25em 0 0;
  color: var(--blue-color);
}
