<div class="navbar navbar-color">
  <div class="row d-inline-flex expand navbar navbar-color">
    <div class="col-8 d-flex distancing left-gap">
      <button class="navbar-color no-border">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </button>
      <button class="navbar-color no-border">
        <img
          src="../../../assets/loghi/logo-stickybar.svg"
          class="button-logo"
        />
      </button>
      <a href="">Edizione Digitale</a>
      <a href="">Newsletter</a>
      <a href="">Segnala</a>
      <a href="">Necrologie</a>
      <a href="">Accedi</a>
    </div>

    <div class="col-4 d-flex align-right distancing">
      <button class="navbar-color no-border">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </button>
      <button class="subscribe">Abbonati</button>
    </div>
  </div>
</div>
