<!-- WRAPPER -->
<div class="fit">
  <!-- TITOLO -->
  <div class="title">Più Letti</div>

  <!-- CONTAINER ARTICOLI -->
  <div class="spacing">
    <!-- articoli -->
    <card-articolo
      class="separator"
      [articolo]="{
        immagine:
          'https://placehold.co/220x125/1a3b70/f7f7f7/?text=Articolo&font=lora',
        titolo:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit',
        autore: '',
        categoria: 'Categoria'
      }"
      [small]="true"
    ></card-articolo>
    <card-articolo
      class="separator"
      [articolo]="{
        immagine:
          'https://placehold.co/220x125/1a3b70/f7f7f7/?text=Articolo&font=lora',
        titolo:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit',
        autore: '',
        categoria: 'Categoria'
      }"
      [small]="true"
    ></card-articolo>
    <card-articolo
      [articolo]="{
        immagine:
          'https://placehold.co/220x125/1a3b70/f7f7f7/?text=Articolo&font=lora',
        titolo:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit',
        autore: '',
        categoria: 'Categoria'
      }"
      [small]="true"
    ></card-articolo>
  </div>
</div>
