@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Barra di navigazione */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  z-index: 1000;
}

.navbar-color {
  background-color: var(--dark-blue-color);
  color: white;
}

/* Home page button */
.button-logo {
  width: 70px;
  height: auto;
}

/* Subscribe button */
.subscribe {
  background-color: var(--yellow-color);
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font: 14px "DM-sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

/* facebook button */
.no-border {
  padding: 0;
  border: none;
}

/* Positioning generale */
.d-flex {
  display: flex !important;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  }

.expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.d-inline-flex {
  display: inline-flex;
}

.distancing {
  gap: 20px;
}

.left-gap {
  position: relative;
  left: 20px;
}
