<div class="navbar navbar-color">
  <div class="row d-inline-flex expand navbar navbar-color">
    <div class="col-8 d-flex distancing align-items-center">
      <button class="navbar-color no-border">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </button>

      <button class="navbar-color no-border format-image margin">
        <img
          src="https://placehold.co/110/1a3b70/white/?text=Giornale\nItalia&font=lora"
        />
      </button>

      <a href="" class="format-text zoom"
        ><i class="fa-regular fa-newspaper"></i> Edizione Digitale</a
      >
      <div class="divider"><div class="vertical-line"></div></div>

      <a href="" class="format-text zoom"
        ><i class="fa-regular fa-envelope"></i> Newsletter</a
      >
      <div class="divider"><div class="vertical-line"></div></div>

      <a href="" class="format-text zoom"
        ><i class="fa-brands fa-whatsapp"></i> Segnala</a
      >
      <div class="divider"><div class="vertical-line"></div></div>

      <a href="" class="format-text zoom">Necrologie</a>
      <div class="divider"><div class="vertical-line"></div></div>

      <a href="" class="format-text zoom">Accedi</a>
    </div>

    <div class="col-4 d-flex align-right gap">
      <button class="navbar-color no-border">
        <i class="fa fa-facebook zoom" aria-hidden="true"></i>
      </button>
      <button class="subscribe zoom">Abbonati</button>
    </div>
  </div>
</div>
