/* GLOBALE */
.d-flex {
  display: flex !important;
}

.bg-settings {
  background-color: var(--white-color);
  padding: 0%;
}

.spacing-large {
  margin: 20px;
}

.spacing-small {
  margin: 0;
}

/* IMMAGINE */
.image-container {
  padding: 0%;
  margin: 0%;
}

.image-format {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.wrap-image {
  padding: 0%;
}

/* WRAPPER CATEGORIA+TITOLO */
.wrap-text {
  padding: 15px;
}

/* CATEGORIA */
.categoria {
  font-family: var(--font-sans-serif);
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
  line-height: 1.25;
}

.spacing-categoria {
  margin-left: 10px;
  margin-right: 20px;
}

.glyph {
  padding-left: 1.4em;
  text-indent: -1.4em;
}

.glyph::before {
  content: "///";
  font-family: var(--font-sans-serif);
  display: inline;
  padding: 0 0.25em 0 0;
  color: var(--blue-color);
}

/* TITOLO */
.title {
  font-family: "DM Serif Display", serif;
  text-decoration: none;
  transition: all 0.3s ease;
}

.font-small {
  font-size: 21px;
}

.font-large {
  font-size: 50px;
}

.title:hover {
  text-decoration: underline;
}

.font-large:hover {
  color: var(--black-color);
}

.font-small:hover {
  color: var(--blue-color);
}

.link-format {
  color: var(--black-color);
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
}

.spacing-titolo {
  margin-bottom: 0px;
}
