<!-- WRAPPER -->
<div class="row d-flex fit">
  <div class="col-12 bg-settings fit">
    <!-- UPPER IMAGE (Small Format) -->
    <div *ngIf="!this.large" class="wrap-image">
      <img
        [src]="articolo?.immagine"
        data-format="16x9"
        alt=""
        width="263"
        height="147"
        class="image-format"
      />
    </div>

    <!-- TEXT WRAPPER -->
    <div class="wrap-text">
      <!-- CATEGORIA -->
      <div class="categoria glyph spacing-categoria">
        {{ articolo?.categoria }}
      </div>

      <!-- TITOLO -->
      <h2 [class]="getTitleSize()">
        <a href="" class="link-format">{{ articolo?.titolo }}</a>
      </h2>
    </div>

    <!-- LOWER IMAGE (Large Format) -->
    <div *ngIf="this.large" class="wrap-image">
      <img
        [src]="articolo?.immagine"
        data-format="16x9"
        alt=""
        width="263"
        height="147"
        class="image-format"
      />
    </div>
  </div>
</div>
