<!-- ARTICOLO -->
<article>
  <!-- WRAPPER -->
  <div class="row">
    <div class="col-12 d-flex bg-settings">
      <!-- IMMAGINE -->
      <div class="wrap-image">
        <img
          [src]="articolo?.immagine"
          data-format="16x9"
          alt=""
          width="263"
          height="147"
          class="image-format"
        />
      </div>
    </div>
  </div>

  <!-- WRAPPER -->
  <div class="row bg-settings">
    <div class="col wrap-text">
      <!-- CATEGORIA -->
      <div class="categoria glyph spacing-categoria">
        {{ articolo?.categoria }}
      </div>

      <!-- TITOLO -->
      <h2 class="title spacing-titolo">
        <a href="" class="link-format">{{ articolo?.titolo }}</a>
      </h2>
    </div>
  </div>
</article>
