/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

:root {
  --black-color: #000000;
  --dark-gray-color: #212529;
  --white-color: #ffffff;
  --dark-blue-color: #0c1a32;
  --blue-color: #1a3b70;
  --yellow-color: #ffe500;
  --light-gray-color: #d3d3d3;
}
