<!-- WRAPPER -->
<div class="row separator-thick contain">
  <!-- METEO INFO -->
  <div class="col-3 d-flex flex-column justify-content-end wrap">
    <a href="" class="meteo-style">
      <span><i class="fas fa-cloud-sun fa-2x icon-style"></i></span>
      <span class="temperature-style"> 20° </span>
      <span class="text-style">Roma</span>
    </a>
  </div>

  <!-- IMMAGINE TITOLO GIORNALE -->
  <div class="col-6 top-padding">
    <img
      src="https://placehold.co/800x100/f7f7f7/black/?text=Giornale+Italia&font=lora"
      class="crop-image"
    />
  </div>

  <!-- DATA -->
  <div class="col-3 d-flex flex-column justify-content-end wrap">
    <span class="align-right text-style wrap"> {{ data }} </span>
  </div>
</div>
