<!-- WRAPPER -->
<div class="row separator-thick">
  <!-- METEO INFO -->
  <div class="col-3 d-flex flex-column justify-content-end wrap">
    <a href="" class="meteo-style">
      <span><i class="fas fa-cloud-sun fa-2x icon-style"></i></span>
      <span class="temperature-style"> 20° </span>
      <span class="text-style">Mantova</span>
    </a>
  </div>

  <!-- IMMAGINE TITOLO GIORNALE -->
  <div class="col-6">
    <img
      src="https://gfx.gazzettadimantova.it/gfx/lib/ath-v1/logos/gdm/plain.svg?20240307"
    />
  </div>

  <!-- DATA -->
  <div class="col-3 d-flex flex-column justify-content-end wrap">
    <span class="align-right text-style wrap"> {{ data }} </span>
  </div>
</div>
