/* GLOBALE */
.d-flex {
  display: flex !important;
}

.bg-settings {
  background-color: var(--white-color);
}

.spacing {
  padding: 0;
  margin: 0;
}

/* IMMAGINE */
.image-container {
  padding: 0%;
  margin: 0%;
}

.image-format {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.wrap-image {
  padding: 0%;
}

/* CATEGORIA */
.categoria {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
  line-height: 1.25;
}

.spacing-categoria-large {
  margin-top: 15px;
  margin-bottom: 10px;
}
.spacing-categoria-small {
  margin-top: 5px;
  margin-bottom: 0;
}

.glyph {
  padding-left: 1.4em;
  text-indent: -1.4em;
}

.glyph::before {
  content: "///";
  font-family: "DM Sans", sans-serif;
  display: inline;
  padding: 0 0.25em 0 0;
  color: var(--blue-color);
}

/* TITOLO */
.title {
  font-family: "DM Serif Display", serif;
  text-decoration: none;
  transition: all 0.3s ease;
}

.font-large {
  font-size: 21px;
}

.font-small {
  font-size: 17px;
}

.title:hover {
  text-decoration: underline;
  color: var(--black-color);
}

.link-format {
  color: var(--black-color);
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
}

.spacing-titolo-large {
  margin-bottom: 15px;
}

.spacing-titolo-small {
  margin-bottom: 5px;
}

/* AUTORE */
.author {
  font-family: "DM Sans", sans-serif;
  color: #000;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 15px;
}

.spacing-autore {
  margin-bottom: 15px;
}

.prefix {
  text-transform: lowercase;
  font-weight: 500;
}

.name {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}
