<!-- ARTICOLO -->
<article class="spacing">
  <!-- WRAPPER -->
  <div class="row d-inline-flex spacing bg-settings">
    <div class="col-4 d-flex wrap-image">
      <!-- IMMAGINE -->
      <div>
        <img [src]="articolo?.immagine" class="image-format" />
      </div>
    </div>

    <!-- TEASER ARTICOLO -->
    <div class="col-8">
      <!-- CATEGORIA -->
      <div [class]="getCategoriaSmall()">
        {{ articolo?.categoria }}
      </div>

      <!-- TITOLO -->
      <h2 [class]="getTitoloSmall()">
        <a href="" class="link-format">{{ articolo?.titolo }}</a>
      </h2>

      <!-- AUTORE -->
      <div class="author spacing-autore" *ngIf="articolo?.autore">
        <span class="prefix"> di </span>
        <div class="name">{{ articolo?.autore }}</div>
      </div>
    </div>
  </div>
</article>
